<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('layouts/header'); -%>
    <%- include('layouts/adminnav'); -%>
    <h1>Dashboard</h1>
    <table>
        <thead>
            <th>Page</th>
            <th>Update</th>
            <th>Remove</th>
        </thead>
        <tbody>
            <% if(typeof(pages)!='undefined'){%>
                <% for(let page of pages){%>
                    <tr>
                        <td class="page-name"><%=page.route.replaceAll('-',' ');%></td>
                        <td><a href="/edit/<%=page.route%>">Modify</a></td>
                        <td><a href="/delete/<%=page.route%>">Delete</a></td>
                    </tr>
                <%}%>
            <%}%>
        </tbody>
    </table>
    <%- include('layouts/footer'); -%>
</body>
</html>